<div class="container">

    <!-- <button *ngIf="!hasCredentials()" type="button" class="btn btn-block" (click)="signInWithGoogle()">
    <i class="fa fa-google" aria-hidden="true"></i>
    Login with Google
  </button>

    <img style="width:50px;height:50px" *ngIf="hasCredentials()" src={{loggedUserPicture}} />
    <label *ngIf="hasCredentials()">{{ loggedUserName }}</label>

    <button *ngIf="hasCredentials()" type="button" class="btn btn-block" (click)="signOut()">
    <i class="fa fa-google" aria-hidden="true"></i>
    Logout
  </button> -->
    <button *ngIf="!hasUserCredentials" class="btn btn-lg btn-outline-primary" (click)="openModal()">Define username</button>

    <input [(ngModel)]="Name" type="text" placeholder="add or search for a task..." class="main-search" (keyup.enter)="addTask(Name);Name=''" />

    <div class="row">
        <div class="col-md-12">
            <div class="timeline">
                <dl>
                    <dd *ngFor="let task of tasks | async | filterTask:Name; index as i" [ngClass]="i%2==0 ? 'pos-right clearfix' : 'pos-left clearfix'">
                        <div class="circ"></div>
                        <div class="time">{{ task.CreatedAt | date }}</div>
                        <div class="events">
                            <div class="pull-left">
                                <div class="campo">
                                    <input type="checkbox" [checked]="task.Done" name="campo-checkbox" id="{{task.Id}}"
                                        (click)="toggleDoneUnDone(task)" />
                                    <label for="{{task.Id}}"></label>
                                </div>
                            </div>
                            <div class="events-body">
                                <div class="description">
                                    <p [ngClass]="task.Done ? 'task-done' : ''">{{ task.Name }}</p>
                                </div>
                                <div class="task-action">
                                    <div class="remove">
                                        <button class="btn-rounded btn-remove" (click)="removeTask(task)">X</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </dd>
                </dl>
            </div>
        </div>
    </div>

</div>